#mybtn {
margin-top:10px;
padding-left:15px;
}

#mynav{
background-color:light-blue;

}

#searchbtn{
  padding-left:5px;

}

#Alertbtn{
margin-top:10px;
margin-right:15px;
}

#userbtn{
  margin-top:10px;
  margin-right:5px;
}
#NavDropdown{
margin-top:19px;
margin-right:-5px;
}
